@media (min-width: 550px) and (max-width: 1023px) {
    .main{
        margin: 60px 15% auto 15%;
    }
    .tarjetas{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}